//Body
$body-color: #F8F8FB;

// Color
$color-one: #051c2d;
$color-two: #75bafd;

//Title
$h1-color: #051c2d;
$h4-color: #485056;

// button
$button-border: #051c2d;
$button-background: #051c2d;
$button-font-color: white;
$btn-green: #34c38f;
$btn-green-hover: #2CA67A;
$btn-blue: #556ee6;
$btn-blue-hover: #475EC3;
$btn-dark: #F46A69;
$btn-yellow: #f1b44c;
$btn-red : #f46a6a;
$btn-red-hover: #D05A5A;
$btn-yellow: #f1b44c;
$btn-yellow-hover: #CD9941;

// input
$input-label: #051c2d;
$input-border: #051c2d;
$input-background: white;
$input-font-color: #051c2d;

// viewApp
$aside-color: #2A3042;


// color toast
$error-color:#ED1C24;
$success-color:rgb(48, 114, 48);
$warning-color:rgb(192, 102, 29);
$info-color:rgb(102, 95, 95);

// footer
$footer-background: #F2F2F5;


//color delete
$color-delete: #F46A69;
